
*{
font-family: montserrat;
font-size: 1.1rem;
}
body{
  background-color: black;
  color:white;
}
header{

}

nav ul {
   list-style: none;
   display: flex;
   justify-content: space-evenly;
   margin: 0;
   padding: 0;


}

.nav-link{
    text-decoration: none;
    color:white;
}

img{
  max-width: 100%;
  width: 75rem;
  height: 45rem;
}








